<div class="content" style="text-align: center; height: 100%; padding-top: 80px; padding-bottom: 80px;">
<h1 style="color: #0066FF; padding-top: 60px">New User</h1>

<%= render 'form' %>

<%= link_to 'Back', @hotel %>
</div>
