<div class="content" style="height: 100%; padding-top: 80px; padding-bottom: 80px;">
<h1>Editing Reservation</h1>

<%= render 'form' %>
</div>

<%# link_to 'Show', @reservation %> |
<%# link_to 'Back', reservations_path %>
